@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

@import "tailwindcss";

@font-face {
    font-family: "Futura Bold";
    src: url("/assets/fonts/Futura Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    font-family: "DM Sans", sans-serif !important;
}

path.react-flow__edge-path {
    stroke: #6ca8ed;
}
